@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600&family=Quicksand:wght@300;400;600&display=swap');
/*
CORES:  
#cce3f3
#3E428C
#D17D24
#DEAB1B

Cor mais clara: FUNDO
Cor mais escura: FONTE
Cor mais suave: DESTAQUE
Cor mais vibrante: HOVER
 */
:root{
    --cor-de-fundo: #FFF3E2;
    --cor-da-fonte: #9C1F1F;
    --cor-destaque: #FA9884;
    --hover-color: #E74646;
    
    --fonte-principal: "Quicksand";
    --transition-time: 0.3s;
    --border-style: solid var(--cor-destaque) 0.1rem;
    --border-radius: 2rem;
}
body{
    margin: 8vh 15vh;
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    color: var(--cor-da-fonte);
    font-size: 120%;
}
.cabecalho{
    padding: 1rem 0;
}
.cabecalho_all_links{
    display: flex;
    gap: 2.5rem;
}
.link{
    font-size: 100%;
    text-decoration: none;
    border: var(--border-style);
    border-radius: var(--border-radius);
    padding: 0.25rem 2rem;
    text-align: center; 
    color: var(--cor-destaque);
    transition: var(--transition-time);
}
.link:hover{
    background-color: var(--hover-color);
    color: var(--cor-de-fundo);
    scale: 1.1;
    border-color: var(--hover-color);
}
.link:active{
    scale: 1;
    filter: brightness(0.25);
}
main{
    display: flex;
    flex-direction: column;
}
.titulo_principal{
    font-size: 250%;
    margin: 2% 0;
}
.conteudo_principal{
    display: flex;
    gap: 8%;
    align-items: start;
    justify-content: center;
}
.conteudo_principal_sessao{
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 2rem;
}

.principal_paragrafos{
    text-align: justify;
}
#alura_link{
    text-decoration: none;
    color: var(--cor-destaque);
    transition: var(--transition-time);
}
#alura_link:hover{
    text-decoration: underline;
    color: var(--hover-color);
}
.foto_luis{
    width: 25%;
    transition: var(--transition-time);

}
.foto_luis:hover{
    scale: 1.075;
}

.titulo_segundo{
    font-size: 150%;
}

.rodape{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    font-size: 100%;
    align-items: center;
    margin-top: 8rem;
    border: var(--border-style);
    border-radius: 2rem;
    padding: 2%;
}
.rodape_redes{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content:end;
}
.redes{
    color: var(--cor-destaque);
    text-decoration: none;
    font-weight: 600;    
    transition: var(--transition-time);
}
.redes:hover{
    color: var(--hover-color);
    text-decoration: underline;
}